.env
.dart_tool/
.packages
.pub/
build/

.flutter-plugins
.flutter-plugins-dependencies

.idea/
.vscode/
graphify-out/

*.iml

android/.gradle/
android/local.properties

ios/Pods/
ios/.symlinks/

*.log

.DS_Store